# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\CourseMSSR\git\course-social-robotics\05-Arduino-Robot\arduino-udp-wifi-LSM303D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
